<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        package="jp.fluct.fluctsdk.exmaple.android.gmamediation.dynamic.interstitial">

    <dist:module
            dist:onDemand="true"
            dist:instant="false"
            dist:title="@string/title_interstitial">
        <dist:fusing dist:include="true"/>
    </dist:module>

</manifest>

