<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution" xmlns:tools="http://schemas.android.com/tools"
          package="jp.fluct.fluctsdk.exmaple.android.gmamediation.dynamic.ads">
    <dist:module
            dist:onDemand="true"
            dist:instant="false"
            dist:title="@string/title_ads">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <!-- region Required: FluctSDK -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="18" />
    <!-- endregion -->

    <!-- region Optional: AdColony -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- endregion -->

    <application
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <!-- region -->

        <activity
                android:name="jp.maio.sdk.android.AdFullscreenActivity"
                android:configChanges="orientation|screenLayout|screenSize"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
                android:name="jp.maio.sdk.android.HtmlBasedAdActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

        <activity
                android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:hardwareAccelerated="true" />

        <activity
                android:name="com.adcolony.sdk.AdColonyAdViewActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:hardwareAccelerated="true" />

        <!-- endregion -->

    </application>


</manifest>

